@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Unica+One&family=Work+Sans:wght@200&display=swap');

.App {
  margin: -8px;
  padding: 5px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 33, 33);
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content min-content min-content min-content auto;
  grid-template-areas:
  "userCorner"
  "title"
  "nav"
  "about"
  "sortBy"
  "display";
}

/* 🙂 -------------------------------IPHONE 8----------------------------------- 🙂*/

/* 🙂 -------------------------------LOGIN----------------------------------- 🙂*/
.login {
  text-align: center;
  grid-area: display;
  height: 300px;
}
.userOptions {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    height: 50px;
    width: 140px;
    padding: 10px;
    margin: 5px;
    border: 1px rgb(0, 255, 213)  solid;
    border-radius: 3px;
    background-color: rgb(34, 33, 33);
    box-shadow: 0px 5px 26px 5px #000000;
    color: rgb(0, 255, 213) ;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}
.userOptions:hover {
  background-color: #31312d;
}
.login button {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  background-color: rgb(34, 33, 33);
  box-shadow: 0px 5px 26px 5px #000000;
  color: rgb(0, 255, 213) ;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  border: 1px rgb(0, 255, 213) solid;
  height: 50px;
  width: 140px;
  padding:10px;
  margin: 5px;
}
.login button:hover {
  background-color: #31312d;
}

@media only screen and (min-width: 600px) {
  .userOptions {
    height: 80px;
    width: 200px;
    font-size: large;
    margin: 10px;
  }
  .login button {
    height: 80px;
    width: 200px;
    font-size: large;
    margin: 10px;
  }
}

/* 🙂 -------------------------------USER CORNER----------------------------------- 🙂*/

.userCorner {
  grid-area: userCorner;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  background-color: rgb(34, 33, 33);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  align-items: center;
  font-size: small;
  margin-bottom: 10px;
  color: rgb(0, 255, 213);
  padding-right: 10px;
  font-weight: bold;
}
.userLink {
  color: rgb(185, 98, 57);
  text-decoration: none;
}
.userLink:hover {
  color: rgb(139, 88, 54);
  text-decoration: none;
}
.userLink:active {
  color: rgb(185, 98, 57);
  text-decoration: none;
}
.userCorner img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.userCorner button {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  width: 75px;
  height: 30px;
  font-weight: bold;
  font-size: small;
  background-color: rgb(34, 33, 33);
  color: rgb(0, 255, 213);
  box-shadow: 0px 5px 26px 5px #000000;
  border: 1px rgb(0, 255, 213) solid;
  border-radius: 2px;
  padding:5px;
}

@media only screen and (min-width: 600px) {
  .userCorner {
    font-size:large;
  }
  .userCorner img {
  width: 50px;
  height: 50px;
  margin: 10px;
  }
  .userCorner button {
    width: 100px;
    height: 40px;
  }
}
@media only screen and (min-width: 1300px) {
  .userCorner {
    font-size:100%;
  }
  .userCorner img {
  width: 50px;
  height: 50px;
  margin: 10px;
  }
  .userCorner button {
    width: 200px;
    height: 50px;
    font-size:100%;
  }
}
/* 🙂 ------------------------------HEADER----------------------------------- 🙂*/
header {
  grid-area: title;
  width: 100%;
  background-color: rgb(34, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 213);
  font-family: 'Unica One', cursive;
  letter-spacing: 2px;
  font-size: large;
  font-weight: normal;
}
.title-link h1{
  text-align: left;
  padding-left: 10px;
  margin: 20px 0px 10px 0px;
}
.title-link img {
  width: 200px;
  height: 200px;
}
.title-link {
  color: rgb(0, 255, 213);
  text-decoration: none;
}
.title-link:hover {
  color: rgb(255, 217, 0);
  text-decoration: none;
}
.title-link:active {
  color: rgb(0, 255, 213);
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  header {
    font-size: 125%;
  }
}
@media only screen and (min-width: 1300px) {
  header {
    font-size: 200%;
  }
  .title-link img {
    width: 300px;
    height: 300px;
  }
}
/* 🙂 ------------------------------N-A-V----------------------------------- 🙂*/
.nav {
  grid-area: nav;
  background-color: rgb(34, 33, 33);
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 15px;
}
.nav select {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  height: 40px;
  width: 200px;
  padding: 8px;
  font-weight: bold;
  background-color: rgb(34, 33, 33);
  color: rgb(255, 230, 0);
  border: 1px rgb(255, 230, 0) solid;
  border-radius: 2px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.nav select:hover {
  background-color: #31312d;
}

@media only screen and (min-width: 1300px) {
  .nav select {
    height: 60px;
    width: 300px;
    padding: 10px;
    font-size: 100%;
  }
}

/* 🙂 ------------------------------ABOUT----------------------------------- 🙂*/
.about {
  grid-area: about;
  background-color: rgb(34, 33, 33);
  font-family: 'Work Sans', sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  padding: 0px 10px 0px 10px;
  justify-items: center;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-areas:
  "subtitle"
  "description";
}
.about h2 {
  font-family: 'Unica One', cursive;
  letter-spacing: 2px;
  grid-area: subtitle;
  padding:0 5px 0 5px;
  margin: 10px 0px 5px 0px;
  color: rgb(255, 255, 255);
}
.about span {
  grid-area: description;
  letter-spacing: 1px;
  margin:0px 0px 10px 0px;
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 800px) {
  .about {
    padding: 0px 50px 0px 50px;
  }
}
@media only screen and (min-width: 1300px) {
  .about {
    padding: 0px 300px 0px 300px;
    font-size: 120%;
  }
}
/* 🙂 ------------------------------SORT BY----------------------------------- 🙂*/
.sortBy {
  margin: 10px auto 10px auto;
  grid-area: sortBy;
  min-width: 300px;
  background-color: rgb(34, 33, 33);
  margin-bottom: 15px;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 20px 50px;
  grid-template-areas:
  "sortTitle itemsTitle"
  "sort items";
}
.sort h5 {
  grid-area: sortTitle;
  margin: 5px 0px 5px 0px;
}
.items h5 {
  grid-area: itemsTitle;
  margin: 5px 0px 5px 0px;
}
.sortByOptions {
  grid-area: sort;
}
.itemsPerPage {
  grid-area: items;
}
.sortBy select {
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(34, 33, 33);
  color: rgb(0, 255, 213);
  box-shadow: 0px 5px 26px 5px #000000;
  border: 1px rgb(0, 255, 213) solid;
  border-radius: 2px;
  height: min-content;
  text-align: center;
  padding:5px;
  font-size: small;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sortBy select:hover {
  background-color: #31312d;
}
.sortByOptions {
  width: 100px;
}
.itemsPerPage{
  width: 100px;
}
@media only screen and (min-width: 1300px) {
  .sort h5 {
    font-size: 100%;
    margin: 5px 0px 0px 0px;
  }
  .items h5 {
    font-size: 100%;
    margin: 5px 0px 0px 0px;
  }
  .sortBy select {
    font-size: 100%;
    margin: 20px 10px 20px 10px;
  }
  .sortByOptions {
    width: 120px;
    margin-bottom: 30px;
  }

  .itemsPerPage{
    width: 120px;
    margin-bottom: 30px;
  }
}

/* 🙂 ---------------------------- ---DISPLAY-------------------------------- 🙂*/
.display {
  background-color: rgb(34, 33, 33);
  justify-items: center;
  align-items: center;
  grid-area: display;
  display: flex;
  flex-direction: column;
}
.backNow {
  align-items: flex-start;
  padding-left: 10px; 
  text-align: left;
}
.backNow img {
  height: 10px;
}
#loading {
  width: 100px;
  height: 100px;
  align-items: center;
  text-align: center;
}


/* ------------------------------------REVIEWS -------------------------------- */

.reviews {
  grid-area: display;
  margin: 20px auto;
  background-color: rgb(34, 33, 33);
  display:flex;
  flex-direction: column;
  justify-items: center
}
.goBack {
  padding-left: 10px; 
  grid-area: goBack;
  justify-items: start;
  justify-content: start;
  text-align: left;
}


/* 🙂 ------------------------------REVIEWCARD----------------------------------- 🙂*/
.reviewCard {
  margin: 20px 10px 20px 10px;
  background-color: rgb(34, 33, 33);
  font-family: 'Work Sans', sans-serif;
  color: white;
  border-top: 1px rgb(255, 230, 0) solid;
  box-shadow: 0px 5px 26px 5px #000000;
  border-radius: 0px 0px 2px 2px;
  padding: 5px;
  min-width: 300px;
  max-width: 500px;
  font-size: small;
  align-items: center;
  display: grid;
  grid-template-columns: 30px minmax(270px 460px);
  grid-template-rows:20px 40px 215px 25px;
  grid-template-areas:
  "postedBy postedBy"
  "vote revTitle"
  "vote revBody"
  "vote comms";
}
@media only screen and (min-width: 1000px) {
  .reviewCard {
  min-width: 700px;
  font-size: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .reviewCard {
  min-width: 1000px;
  font-size: 110%;
  }
}

#postedBy {
  margin: 0px;
  grid-area: postedBy;
  letter-spacing: 1px;
  text-align: left;
  align-items: center;
  background-color: rgb(34, 33, 33);
  color: rgb(255, 230, 0);
  font-size: small;
}

#vote {
  align-content: center;
  text-align: center;
  justify-items: start;
  align-items: start;
  background-color: rgb(34, 33, 33);
  grid-area: vote;
  color: rgb(255, 230, 0);
  font-weight: bold;
}

#vote img {
  width: 15px;
  height: 15px;
}
#vote img:hover {
  transform: scale(1.5);
}

#revTitle {
  font-size: small;
  color: white;
  grid-area: revTitle;
  font-weight: bold;
  text-align: left;
  justify-items: start;
  padding: 10px 5px 10px 10px;
}
.singleReviewLink {
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}
.singleReviewLink:hover {
  color: rgb(129, 209, 196);
  text-decoration: none;
}
.singleReviewLink:active {
  color: white;
  text-decoration: none;
}
#revBody {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  height: 200px;
  grid-area: revBody;
  text-align: left;
  padding: 5px 5px 5px 10px;
  overflow-y: scroll;
}

#revBody img {
  border-radius: 5px;
  margin: 0px 0px 5px 5px;
  object-fit: cover;
  width: 160px;
  float: right;
}
#comms {
  background-color: rgb(34, 33, 33);
  grid-area: comms;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}
#msg {
  grid-area: msg;
}
.commentsLink {
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  color: rgb(167, 164, 164);
  text-decoration: none;
}
.commentsLink:hover {
  color: rgb(129, 209, 196);
  text-decoration: none;
}
.commentsLink:active {
  color: rgb(167, 164, 164);
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(34, 33, 33);
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 213);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media only screen and (min-width: 800px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
@media only screen and (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}
@media only screen and (min-width: 1300px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}
/* 🙂 ------------------------------.REVIEW PAGE ------------------------------------- 🙂*/
.singleReview {
  grid-area: display;
  margin: 20px auto;
  background-color: rgb(34, 33, 33);
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px auto auto auto;
  grid-template-areas:
  "goBack"
  "oneReview"
  "form"
  "comments";
}

.goBack {
  padding-left: 10px; 
  grid-area: goBack;
  text-align: left;
}
.goBack img {
  height: 10px;
}
.goBackLink {
  text-align: left;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1px;
  color: rgb(129, 209, 196);
  text-decoration: none;
}
.goBackLink:hover {
  color: rgb(44, 255, 220);
  text-decoration: none;
}
.goBackLink:active {
  color: rgb(129, 209, 196);
  text-decoration: none;
}


/* -----------------------------------------------------------------------------------*/
.oneReview {
  grid-area: oneReview;
}

/* 🙂 -----------------------------------------FORM------------------------------------- 🙂*/
.commentForm {
  grid-area: form;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content;
  grid-template-areas:
  "label"
  "input";
} 
.commentForm label {
  grid-area: label;
  font-size: small;
}
.commentForm input, textarea {
  display : block;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  grid-area: input;
  background-color: #575757;
  padding: 5px;
  min-width: 300px;
  max-width: 500px;
  min-height: 100px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  resize  : none;
  overflow: auto;
}
.commentForm input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
}

#button {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  width: 120px;
  font-weight: bold;
  font-size: small;
  background-color: rgb(34, 33, 33);
  color: rgb(0, 255, 213);
  box-shadow: 0px 5px 26px 5px #000000;
  border: 1px rgb(0, 255, 213) solid;
  border-radius: 2px;
  padding:8px;
}
@media only screen and (min-width: 450px) {
  .commentForm input, textarea {
    min-width: 430px;
    max-width: 700px;
  }
}
@media only screen and (min-width: 600px) {
  .commentForm input, textarea {
    min-width: 500px;
    max-width: 700px;
  }
}
@media only screen and (min-width: 1000px) {
  .commentForm input, textarea {
    min-width: 700px;
    max-width: 950px;
  }
  .commentForm label {
    grid-area: label;
    font-size: 100%;
  }
}
@media only screen and (min-width: 1300px) {
  .commentForm input, textarea {
    min-width: 1000px;
    max-width: 1200px;
  }
  .commentForm label {
    grid-area: label;
    font-size: 110%;
  }
  #button {
    width: 210px;
    font-size: 110%;
    padding:10px;
  }
}
/* 🙂 --------------------------------- COMMENT CARD ----------------------------------- 🙂*/
.comments {
  grid-area: comments;
  text-align: center;
}

.commentCard {
  margin: 20px 10px 30px 10px;
  border-radius: 0px 0px 2px 2px;
  font-family: 'Work Sans', sans-serif;
  font-size: small;
  color: white;
  border-top: 2px rgb(0, 255, 213) solid;
  box-shadow: 0px 5px 26px 5px #000000;
  padding: 5px;
  min-width: 300px;
  max-width: 500px;
  align-items: center;
  background-color: rgb(34, 33, 33);
  display: grid;
  grid-template-columns: 40px minmax(60px 100px) minmax(200px 360px);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
  "author author author"
  "commBody commBody commBody"
  "commVotes commVotes delete";
}
@media only screen and (min-width: 1000px) {
  .commentCard {
    min-width: 700px;
    font-size: 100%;
  }
}
@media only screen and (min-width: 1300px) {
  .commentCard {
    min-width: 1000px;
    font-size: 100%;
  }
}

#author {
  color: rgb(0, 255, 213);
  grid-area: author;
  font-size: small;
  text-align: left;
  align-items: start;
  padding: 5px 0px 5px 0px;
}
#author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

#commBody {
  font-size: small;
  max-height: 200px;
  font-weight: bold;
  grid-area: commBody;
  text-align: left;
  padding: 10px 5px 5px 5px;
  overflow-y: scroll;
}
#commVotes {
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: rgb(0, 255, 213);
  font-size: small;
  grid-area: commVotes;
  padding-left: 10px;
  display: flex;
}
#commVotes img {
  text-align: center;
  font-weight: bold;
  border: none;
  width: 15px;
  height: 15px;
  margin: 0px 10px 0px 10px;
}
#commVotes img:hover {
  transform: scale(1.5);
}

.delete {
  align-items: middle;
  font-weight: bold;
  grid-area: delete;
  color: rgb(139, 44, 7);
  text-align: center;
}

.delete:hover {
  color: #960707;
}
.delete button {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  width: 100px;
  font-weight: bold;
  font-size: small;
  background-color: rgb(34, 33, 33);
  color: rgb(255, 136, 38);
  box-shadow: 0px 5px 26px 5px #000000;
  border: 1px rgb(255, 136, 38) solid;
  border-radius: 2px;
  padding:4px;
}
@media only screen and (min-width: 1300px) {
  .delete button {
    font-size: 110%;
  }
}

/* 🙂 ------------------------------- USER SECTION ----------------------------------- 🙂*/
.userSection {
  color: white;
  width: 100%;
  margin: 20px auto;
  min-width: 300px;
  max-width: 500px;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas:
  "back"
  "userProfile";
}

.back {
  padding-left: 10px; 
  grid-area: back;
  text-align: left;
}
.back img {
  height: 10px;
}
.userProfile {
  grid-area: userProfile;
  padding: 5px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 150px minmax(250px 500px);
  grid-template-areas:
  "avatar info";
}
.userProfile img {
  grid-area: avatar;
  width: 100px;
  height: 100px;
  border: none;
  margin-right: 5px;
  border-radius: 50%;
}

.user {
  grid-area: info;
  color: white;
  padding: 5px;
  text-align: left;
  padding: 5px;
}


/* -🙂 🙋 🙉 💟 🙂 🙋 🙉 💟 -------------WIDE SCREEN-----------🙂 🙋 🙉 💟 🙂 🙋 🙉 💟 🙂 🙋 🙉 💟  */
